
<form [formGroup]="bankDetails">

    <label for="">{{id ? 'Edit Bank Details' : 'Crete Bank details'}}</label>


    <label for="">Account_name</label>
    <input type="text" formControlName="account_name">
    <br>

    <label for="">Available_balance</label>
    <input type="text" formControlName="available_balance">
    <br>

    <label for="">Account_number</label>
    <input type="text" formControlName="account_number">
    <br>

    <label for="">City</label>
    <input type="text" formControlName="city">
    <br>

    <label for="">Profile_Picture</label>
    <input type="text" formControlName="profie_picture">
    <br>

    <button (click)="create()">{{id ? 'Update' : 'Create'}}</button>
    
</form>