<div class="dashboard-container">
    <div class="left-side-bar">
        <h1>My Website</h1>
        <hr>
        <a routerLink="welcome">Welcome</a>
        <a routerLink="home">Home</a>
        <a routerLink="login">Login</a>
        <a routerLink="data-binding">Data Binding</a>
        <a routerLink="calculator">Calculator</a>
        <a routerLink="rectangle">Rectangle</a>
        <a routerLink="circle">Circle</a>
        <a routerLink="bmi">BMI</a>
        <a routerLink="dice">Dice</a>
        <a routerLink="directive-pipes">Directive-Pipes</a>
        <a routerLink="employees">Employees</a>
        <a routerLink="flipkarts">Flipkart</a>
        <a routerLink="vehicles">Vehicles</a>
        <a routerLink="bankaccounts">BankAccounts</a>
        <a routerLink="flipkartstore">FlipkartStores</a>
        <a routerLink="gmails">Gmails</a>
        <a routerLink="create-vehicle">Create-Vehicles</a>
        <a routerLink="bank-details">Bank-Details</a>
        <a routerLink="student-id">Student ID</a>
        <a routerLink="student-details">Student-Details</a>
        <a routerLink="photo-gallery">Photo-Gallery</a>
        <a routerLink="reload">Reload</a>
        <a routerLink="countrycitylang">countrycitylang</a>
        <hr>
        <button (click)="logout()">Logout</button>
    </div>
    <div class="right-side-bar">
        <router-outlet> </router-outlet>
    </div>
</div>